# Create dataset to compare algorithm accuracy

Combine all the CSV files for the various video files into a single dataframe to compare the accuracy of the various approaches of algorithm against the labelled ground truth data

## Step 1: Create test image metadata file

The test images are of three different types. Create a dataframe with the three types of image and the metadata of the video where the image originated

In [10]:
import glob
import re
import os
import pandas as pd

image_data = []
processed_image_filenames = glob.glob('../../Texture_Repo/Donegal_Rural_Terrain_Textures/Test_Images/*/*.jpg', recursive=True)
for file_name in processed_image_filenames:    
    path_parts = re.split(r'/|\\', file_name)
    head_tail = os.path.split(file_name)
    folder = os.path.basename(head_tail[0])
    file = head_tail[1]
    pre, ext = os.path.splitext(file)
    video = pre[0:8]
    image_data.append(
        {
            'image': pre,
            'sourceVid': video,
            'testCase':  folder
        }
    )

image_df = pd.DataFrame(image_data)

In [11]:
image_df

            image sourceVid          testCase
0    DJI_01352000  DJI_0135      55m_altitude
1    DJI_01352200  DJI_0135      55m_altitude
2       DJI_01420  DJI_0142      55m_altitude
3    DJI_01421000  DJI_0142      55m_altitude
4    DJI_01421100  DJI_0142      55m_altitude
..            ...       ...               ...
139  DJI_01446900  DJI_0144  random_selection
140  DJI_01448600  DJI_0144  random_selection
141  DJI_01451200  DJI_0145  random_selection
142  DJI_01462800  DJI_0146  random_selection
143  DJI_01463900  DJI_0146  random_selection

[144 rows x 3 columns]